body{ background-color: #cff7fc;
border-left:black 10px solid;
border-right:black 10px solid;
border-top:black 10px solid;
border-bottom:black 10px solid;
padding-bottom:4px;
padding-top:4px;
}

h1{padding:2px;
border:solid 2px;
padding-top:5px;
text-align:center;}

h2{display:flex;
justify-content: center;
padding:20px;
margin:15px;
color:purple;
}

#links{display:flex;
justify-content:space-between;
text-align: center;
    
}




h3{ font-size:25px;
font-family: 'Inconsolata', monospace;}

h4{ display:flex;
justify-content:flex-start;
font-size:27px;
font-family: 'Inconsolata', monospace;
}

 .pic{display:flex;
 justify-content:center;
 height:275px;
 width:1400px;
 }


p{ font-family:"comic sans";
text-align:center;
color:red;
font-size:20px;
}
